TABLE TH {
  text-align: left;
}

.unused {
  text-decoration: line-through;
  color: red;
}

.data-table {
  th, td {
    white-space: nowrap;
  }

  th, td {
    border-width: 0 1px;
    border-color: gray;
    border-style: solid;
  }

  th {
    border-width: 1px;
  }

  tr:nth-child(even) {
    background: #eee;
  }

  tr:nth-child(odd) {
    background: #fff;
  }

  pre {
    background: none;
    padding: 0;
    margin: 0;
  }
}
